<!doctype html>
<html>
<head>
  <meta charset="utf-8">
</head>
<body>
  <center><b>{{.empresa}}</b></center>
  <p>Factura</p>
  <p>Cliente: {{.cliente}}</p>
  <p>Fecha: {{.fecha}}</p>
  <hr>
  <table>
    <tr><td>Item</td><td style="text-align:right">Importe</td></tr>
    {{range .items}}<tr><td>{{.nombre}}</td><td style="text-align:right">{{.precio}}</td></tr>{{end}}
  </table>
  <hr>
  <p style="text-align:right"><b>Total: {{.total}}</b></p>
  <hr>
  <center>Gracias por su compra!</center>
</body>
</html>
